/* Header.css */
.header {
  background-color: #ffffff; /* Set your desired background color */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0.2, 0, 0.2); /* Add a shadow effect */
  font-size: 24px; /* Set your desired font size */
  font-weight: bold; /* Set your desired font weight */
  text-align: center; /* Center the text horizontally */
}

/* Footer.css */
.footer {
  background-color: #423370;
  padding: 20px;
  height: 320px;
  text-align: center; /* Center the text horizontally */
}

.footer-content {
  margin-top: 200px;
  display: flex;
  flex-direction: column; /* Place items in a column layout */
  align-items: center; /* Center items horizontally */
}

.footer-text {
  font-weight: bolder;
  color: white;
  margin-bottom: 10px; /* Add some spacing below the text */
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* Add hover effect to icons */
.social-icons a:hover {
  color: #ffffff80; /* Slightly transparent white on hover */
}
/* Header.css */

.header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0.2, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center; /* Vertically center align items */
  justify-content: space-between; /* Distribute items evenly horizontally */
}

/* Add styles for individual elements as needed */
.logo {
  color: #423370;
  width: 132px;
  height: 40px;
  font-weight: bolder;
  flex-shrink: 0;
  margin-left: 60px ;
}


.search input {
  width: 300px;
  height: 44px;
  border-radius: 20px;
  background-color: #f2eeff;
  
}
.buttons span {
  font-size: 13px;
  font-weight: lighter;
  margin-right: 20px;
}
.trainer-button {
  width: 72px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #f2eeff;
  border: none;
  margin-right: 20px;
}
.learner-button {
  width: 72px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #f2eeff;
  border: none;
  margin-right: 20px;
  
}
.signin-button {
  width: 67px;
  height: 27px;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.head-signIn{
display: flex;
gap: 30px;
}

.buttons {
  /* Add styles for the buttons */
}

.headset {
  /* Add styles for the headset icon */
}

.signin {
  /* Add styles for the sign-in button */
}
